body{
    background-color: #ffffff;
}

.main{
    color: #000000;
    font-family: Cursive;
}

.sidenav{
    height:100%;
    width:160px;
    position:fixed;
    z-index:1;
    top:0;
    left:0;
    background-color: #dfc2c4;
    overflow-x:hidden;
    padding-top:20px;
    font-family: Cursive;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size:20px;
    color:#000000;
    display:block;
}

.sidenav a:hover{
    color:#444444;
}

.main{
    margin-top: 160px;
    margin-left: 160px;
    padding: 0px 10px;
    text-align:center;
}

.list{
    margin-left: 160px;
}