{% extends "makeup/hello.html" %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Brands{% endblock %} - Cosmetic Boutique</title>
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet"/>
    <link href="{% static "css/main.css" %}" rel="stylesheet"/>

    {% block content %}

        <div class = "list">

            {% for brand in brands %}
                <h6>{{ brand }}</h6>
            {% endfor %}

        </div>

    {% endblock %}

</head>
<body>

</body>
</html>