{% load static %}

<html>
<head>

<head>
  <title>{% block title %}Welcome{% endblock %} - Cosmetic Boutique</title>
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet"/>
    <link href="{% static "css/main.css" %}" rel="stylesheet"/>
</head>


<div class = "sidenav">
    <a href = "/home">Home</a>
    <a href = "/brands">Brands</a>
    <a href = "/products">Products</a>
</div>

{% block content %}
<div id = "welcome-message", class = "main">
    <h1>Welcome to Cosmetic Boutique</h1>
    <h2>You can find everything you want</h2>
    <img src={% static "images/logo.jfif" %} alt="Logo">
</div>
{% endblock %}

</head>

</html>



