{% extends "makeup/base.html" %}

{%  load static %}
{% load in_group %}

{% block content %}
    <title>Cosmetic Boutique - Shop</title>

{#    <!-- Navbar Start -->#}
{#    <div class="container-fluid">#}
{#        <div class="row border-top px-xl-5">#}
{#            <div class="col-lg-12">#}
{#                <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0">#}
{#                    <a href="" class="text-decoration-none d-block d-lg-none">#}
{#                        <h1 class="m-0 display-5 font-weight-semi-bold"><span class="text-primary font-weight-bold border px-3 mr-1">C</span>Boutique</h1>#}
{#                    </a>#}
{#                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">#}
{#                        <span class="navbar-toggler-icon"></span>#}
{#                    </button>#}
{#                    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">#}
{#                        <div class="navbar-nav mr-auto py-0">#}
{#                            <a href="{% url 'index' %}" class="nav-item nav-link">Home</a>#}
{#                            <a href="{% url 'shop' %}" class="nav-item nav-link active">Shop</a>#}
{#                            <a href="{% url 'brands' %}" class="nav-item nav-link">Brands</a>#}
{#                            <a href="contact.html" class="nav-item nav-link">Contact</a>#}
{#                        </div>#}
{#                        <div class="navbar-nav ml-auto py-0">#}
{#                            <a href="" class="nav-item nav-link">Login</a>#}
{#                            <a href="{% url 'register' %}" class="nav-item nav-link">Register</a>#}
{#                        </div>#}
{#                    </div>#}
{#                </nav>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#    <!-- Navbar End -->#}


    <!-- Page Header Start -->
    <div class="container-fluid bg-secondary mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
            <h1 class="font-weight-semi-bold text-uppercase mb-3">Our Shop</h1>
            <div class="d-inline-flex">
                <p class="m-0">Go back to <a href="{% url 'index' %}">Home</a></p>
            </div>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- Shop Start -->
    <div class="container-fluid pt-5">
        <div class="row px-xl-5">
            <!-- Shop Sidebar Start -->
            <div class="col-lg-3 col-md-12">
                <!-- Price Start -->
                <div class="border-bottom mb-4 pb-4">
                    <h5 class="font-weight-semi-bold mb-4">Filter by price</h5>
                    <form>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" checked id="price-all">
                            <label class="custom-control-label" for="price-all">All Price</label>
                            <span class="badge border font-weight-normal"></span>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" id="price-1">
                            <label class="custom-control-label" for="price-1">$0 - $5</label>
                            <span class="badge border font-weight-normal"></span>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" id="price-2">
                            <label class="custom-control-label" for="price-2">$6 - $10</label>
                            <span class="badge border font-weight-normal"></span>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" id="price-3">
                            <label class="custom-control-label" for="price-3">$11 - $15</label>
                            <span class="badge border font-weight-normal"></span>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" id="price-4">
                            <label class="custom-control-label" for="price-4">$16 - $20</label>
                            <span class="badge border font-weight-normal"></span>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between">
                            <input type="checkbox" class="custom-control-input" id="price-5">
                            <label class="custom-control-label" for="price-5">$21 - $25</label>
                            <span class="badge border font-weight-normal"></span>
                        </div>
                    </form>
                </div>
                <!-- Price End -->

            </div>
            <!-- Shop Sidebar End -->


            <!-- Shop Product Start -->
            <div class="col-lg-9 col-md-12">
                <div class="row pb-3">
                    {% for product in products %}
                        <div class="col-lg-4 col-md-6 col-sm-12 pb-1">
                        <div class="card product-item border-0 mb-4">
                            <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                                <img class="img-fluid w-100" src={% static "images/logo.jfif" %} alt="">
                            </div>
                            <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                                <h6 class="text-truncate mb-3">{{ product.name }}</h6>
                                <div class="d-flex justify-content-center">
                                    <h6>$ {{ product.price }}</h6>
                                </div>
                            </div>
                            {% if user.is_authenticated and request.user|in_group:"Administrator"%}
                                <div class="card-footer d-flex justify-content-between bg-light border">
                                <a href="{% url 'update-product' product.id %}" class="btn btn-sm text-dark p-0"><i class="fa fa-edit "></i>Update</a>
                                <a href="{% url 'delete-product' product.id %}" class="btn btn-sm text-dark p-0"><i class="fas fa-shopping-cart text-primary mr-1"></i>Delete</a>
                            </div>
                            {% endif %}

                            <div class="card-footer d-flex justify-content-between bg-light border">
                                <a href="{% url 'detail' product.id %}" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>View Detail</a>
                                <a href="" class="btn btn-sm text-dark p-0"><i class="fas fa-shopping-cart text-primary mr-1"></i>Add To Cart</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <!-- Shop Product End -->
        </div>
    </div>
    <!-- Shop End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src={% static "lib/easing/easing.min.js" %}></script>
    <script src={% static "lib/owlcarousel/owl.carousel.min.js" %}></script>

    <!-- Contact Javascript File -->
    <script src={% static "mail/jqBootstrapValidation.min.js" %}></script>
    <script src={% static "mail/contact.js" %}></script>

    <!-- Template Javascript -->
    <script src={% static "js/main.js" %}></script>

{% endblock content %}

